extends layout

block content
	include includes/header
	.bg
		.wrap
			h2 Jo, diese Bestellung wurde schon bestätigt
			a(href="https://pizza.malts.me") Zurück zur Hauptseite
			p Wenn du denkst das ein Fehler aufgetreten ist, kontaktiere mich unter
				a(href="maito:me@malts.me") me@malts.me